*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 148));
    font-family: sans-serif;
    color: white;
}
.location, .temprature{
    height: 30vh;
    justify-content: space-around;
    /* justify-items: center; */
    display: flex;
    width: 50%;
    align-items: center;
}
.temprature{
    flex-direction: column;
}

.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    margin: 10px;
    font-size: 30px;
}

.degree-section h2{
    font-size: 40px;
}

.input-location-name{
    width: 100%;
    display: flex;
    justify-content: center;
    /* justify-items: center; */
    padding-left: 30px;
    padding-bottom: 10px;
}

.input-location-name input[type=text]{
    border: none;
    height: 5vh;
    width: 19%;
    background-color: linear-gradient(rgb(47, 150, 163),rgb(48, 62, 148));
    font-family: sans-serif;
    font-size: 25px;
    padding: 10px;
    border-radius: 30px;
}

.input-location-name button[type=submit]{
    margin: 10px;
    width: 10%;
    height: 5vh;
    align-items: center;
    color: black;
    font-size: 25px;
}

.input-location-name button{
    color: black;
    border-radius: 30px;
}

